*{
    margin: 0%;
    padding: 0%;
}
/*----- header INICIO------- */
header{
    background-color: rgb(28, 88, 40);
    display: flex;
   
}
.logo{
    margin: 15px;
}
.textoheader{
    margin: 15px;
    color: white;
}
.linksheader{
    margin: 15px;
}
.linksheader a{
    color: white;
    text-decoration: none;
}
/*------- header FINAL ---------*/
/*---------meio INICIO----------*/
main{
    display: grid;
    grid-template-columns: 40% 60%;
}
.numero h1{
    text-align: center;
}
.numero img,p{
    margin: 10px;
    font-size: 25px;
    display: inline-block;
}
#telefone{
    background-color:white;
    display: inline-block;
}
#telefone img{
    height: 100px;
    width: 85px;
}
#mapa img{
    padding: 5px;
    max-width: max-content;
    height: 500px;
    border-radius: 50px;
}
#mapa{
    background-color:white;
    text-align: center;
}
#redesocial{
    display: grid;
    grid-template-columns: 50% 50%;
}
/*---------meio FINAL-----------*/

.vermelho{
    
    margin-top: 1px;
    height: 2px;
    background-color: rgb(58, 88, 40);
   border: 1px solid rgb(58, 88, 40);
}
.verde{
    margin-top: 1px;
    height: 2px;
    background-color: rgb(236, 9, 9);
   border: 1px solid rgb(236, 9, 9);
}
/*---------footer INICIO--------*/
#rodape{   
    display: grid;
    grid-template-columns: 50% 50%;
}
#endereço{
    font-size: 25px;
    font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    text-align: center;
}
#endereço img{
    width: 18px;
    height: 20px;
}
#horariodefuncionamento{
    font-size: 25px;
    font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    text-align: center;
}
/*----------footer FINAL----------*/
/* responsivo */
@media screen and (max-width: 500px) {
    #item{
        display: block;
    }
    #mapa{
        display: block;
    }
    .navbar{
        display: block;
    }
    .logo{
        display: block;
    }
    .logo img{
        display: block;
    }
    .textoheader{
        text-align: end;
        display: block;
    }
    #horariodefuncionamento{
        font-size: 14px;
    }
}
@media screen and (max-width: 900px) {
    #item{
        display: block;
    }
    #mapa{
        display: block;
        width: 50px;

    }
    .navbar{
        display: block;
    }
    .logo{
        display: block;
    }
    .logo img{
        display: block;
    }
    .textoheader{
        text-align: end;
        display: block;
    }
    #horariodefuncionamento{
        font-size: 14px;
    }
    #mapa img{
        width: 50px;
    }
}
/* responsivo */