/*---------navbar INICIO------------- */
.navbar{
    background-image: url(../img/BGpizzaria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:grid ;
    grid-template-columns: 33% 33% 33%;
    gap: 3px 3px;
    text-align: center; 
}
/*------------navbar FINAL-------------*/
/*----- header INICIO------- */
header{
    background-color: rgb(28, 88, 40);
    height: 90px;
    width: 100%;
   
}
.logo{
    height:20px ;
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

a{
    color: rgb(248, 248, 248);
    text-decoration: none;

}
.textoheader{
    text-align:right ;
    font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    font: size 10cm;
    padding-right: 10px;
}
/*------- header FINAL ---------*/
/*------- produtos INICO------- */
/*------- produtos FINAL------- */
/*-------CARDAPIO INICIO--------*/
#cardapio{
   
}
#cardapio img{
    padding: 5px;
    width: 300px;
    height: 200px;
    border-radius: 50px;
}

#item{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, 0.85);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}
#item p{
    font-size: 14px;
}
#item button{
    background-color: #dc143c;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#item button:hover{
    background-color: #e85f7b;
}
/*-------CARDAPIO FINAL---------*/
/*----- footer INICIO ---- */
.rodape{
    background-color: rgb(28, 88, 40);
    max-width: 100%;
}
footer{
    display: block;
    display: inline-block;
    background-color: rgb(28, 88, 40);
max-width:100vmax ;
}
#textofooter{
    padding: 8px;
    color: rgb(255, 254, 254);
}
.rodapetexto{
    display: block;
    display: inline-block;
}
h5{
    color: whitesmoke;
    font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}
/*-------- footer FINAL------ */
/* responsivo */
@media screen and (max-width: 500px) {
    .navbar{
        display: block;
    }
    .logo{
        display: block;
    }
    .logo img{
        color: rgb(58, 88, 40);
        display: block;
    }
    .textoheader{
        text-align: end;
        display: block;
    }
}
@media screen and (max-width: 900px) {
    .navbar{
        display: block;
    }
    .logo{
        display: block;
    }
    .logo img{
        display: block;
    }
    .textoheader{
        text-align: end;
        display: block;
    }
}