*{
    margin: 0%;
    padding: 0%;
}
/*---------navbar INICIO------------- */
.navbar{
    background-image: url(../img/BGpizzaria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:grid ;
    grid-template-columns: 33% 33% 33%;
    gap: 3px 3px;
    text-align: center; 
}
/*------------navbar FINAL-------------*/
/*----- header INICIO------- */
header{
    background-color: rgb(28, 88, 40);
    display: flex;
   
}
.logo{
    margin: 15px;
}
.textoheader{
    margin: 15px;
    color: white;
}
.linksheader{
    margin: 15px;
}
.linksheader a{
    color: white;
    text-decoration: none;
}
/*------- header FINAL ---------*/
/*------- produtos INICO------- */
/*------- produtos FINAL------- */
/*-------CARDAPIO INICIO--------*/
#cardapio{
   
}
#cardapio img{
    padding: 5px;
    width: 300px;
    height: 200px;
    border-radius: 50px;
}

#item{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, 0.85);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}
#item p{
    font-size: 14px;
}
#item button{
    background-color: #dc143c;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#item button:hover{
    background-color: #e85f7b;
}
/*-------CARDAPIO FINAL---------*/
/*----- footer INICIO ---- */

#footer_content{
    font-family: 'Inter', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 3rem 3.5rem;
    color: rgb(28, 88, 40);
    } 
    #footer_content a{
        color: black;
        text-decoration: none;
    } 
    #footer_content img{
        width: 40px;
        height: 40px;
    }
    #footermedia{
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    }
    #footermedia .footerllink{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all 0.4s;
    }
    #footermedia .footerllink.footerllink:houver{
        opacity: 0.8;
    }
    #instagram{
        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    }
    #whatsapp{
        background: #25d366;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none ;
        text-align: center;
    }
    #footer-subscribe{
        text-align: center;
    }
    #input_group{
        display: flex;
        align-items: center;
        border-radius: 4px;
    }
    #input_group input{
        padding: 0.75rem;
        width: 100%;
    }
    
    #input_group button{
        border: none;
        padding: 0px 1.25rem;
        font-size: 1.125rem;
        height: 100%;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
    }
    #footer_copyright{
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100%;
    }
/*-------- footer FINAL------ */
/* responsivo */
@media screen and (max-width: 500px) {
    .navbar{
        display: block;
    }
    .logo{
        display: block;
    }
    .logo img{
        color: rgb(58, 88, 40);
        display: block;
    }
    .logo{
        display: hidden;
    }
    .textoheader{
      display: block;

    }
}
@media screen and (max-width: 900px) {
    .navbar{
        display: block;
    }
    .logo{
        display: block;
    }
    .logo img{
        display: block;
    }
    .textoheader{
        text-align: end;
        display: block;
    }
}
@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
    
}